<!DOCTYPE html>
<html lang="en">

<head>
    <title>Frontend Library demonstration - WhatIsMyBrowser.com</title>
    <meta name="description" content="check if we can set session storage" />

    <style>
        a {
            color: #508db4;
        }

        /* a quick reset on the IP address ul */
        #localips-detection ul,
        #localips-detection li {
            padding-left: 0;
            list-style-position: inside;
            margin: 0;
        }
    </style>

</head>

<body>
    <iframe src="https://check-iframe-event-child.herokuapp.com/" title="check for session storage"></iframe>

</body>

<script>
    window.document.addEventListener('goto_signup', (event)=>{
        console.log("event", event)
        if(event.detail.message == 'redirect_to_sign_up'){
            console.log("Successfully received event ",event.detail.message);
            // go to the diagnostic results/feedback screen  
        } else {
       // show error message		
        }
    }, false);
 }
</script>
</body>

</html>