<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        a {
            color: #508db4;
        }

        /* a quick reset on the IP address ul */
        #localips-detection ul,
        #localips-detection li {
            padding-left: 0;
            list-style-position: inside;
            margin: 0;
        }
    </style>

</head>

<body>
    <div id="result"></div>
    <button onclick="myFunction1()">Click me to redirect</button>
    <button onclick="myFunction2()">Click me to trigger event for parent</button>
</body>

<script>
    try {
        function myFunction1() {
            window.parent.location.href = "https://micro-nemo.comprodls.com/register-learner?ielts=true"; 
           
        }
        function myFunction2() {
            window.parent.postMessage(
                {
                    event_id: 'my_cors_message',
                    data: {
                        v1: 'value1', 
                        v2: 'value2'
                    }
                }, 
                "*" //or "www.parentpage.com"
            ); 
        }

    }
    catch (err) {
        console.log(err);
    }

</script>
</body>

</html>