<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        a {
            color: #508db4;
        }

        /* a quick reset on the IP address ul */
        #localips-detection ul,
        #localips-detection li {
            padding-left: 0;
            list-style-position: inside;
            margin: 0;
        }
    </style>

</head>

<body>
    <div id="result"></div>

</body>

<script>
    try {
        var eventdata = {
            'message': 'redirect_to_sign_up',
        }

        // add proposed event structure 
        var event = new CustomEvent('goto_signup', { detail: eventdata });

        window.parent.document.dispatchEvent(event);

    }
    catch (err) {
        console.log(err);
    }

</script>
</body>

</html>